<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_NavBar")

    <div class="container-fluid body-content">
    @RenderBody()

    @Html.Partial("_Footer")
    </div>



    @Scripts.Render("~/bundles/mainLib")
    @Scripts.Render("~/bundles/TypeAheadSearchBar")



    @RenderSection("scripts", required: false)


</body>

</html>
