<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
 
    @Scripts.Render("~/bundles/modernizr")
       @Styles.Render("~/Content/Bootstrap.css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">
            <img src="~/Content/Images/logo_small.png" alt="LOGO" style="height:36px;">
            Gamer's Grid
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @using (Html.BeginForm("Search", "User", FormMethod.Get))
                    {
                        @Html.TextBox("searchString", null, new { @class = "form-control" })
                    }
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Games", "GetTopGames", null , new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Register", "Register", "Account" , null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                </li>
            </ul>

        </div>
    </nav>
    <br />
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
