<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SiteCss")
    @Scripts.Render("~/bundles/modernizr")




</head>

<body>
    @Html.Partial("_NavBar")

    @if (ViewData["Title"].Equals("Home") || ViewData["Title"].Equals("Edit") || ViewData["Title"].Equals("Leaderboards") || ViewData["Title"].Equals("SeachEngine"))

    {


    }

    else
    {
        <div class="container">
            @Html.Partial("_LoginSearchPartial")
        </div>
    }

    @if (ViewData["Title"].Equals("Home") || ViewData["Title"].Equals("Register") || ViewData["Title"].Equals("Login"))

    {
        @RenderBody()
        @Html.Partial("_Footer")

    }
    else
    {
        <div class="container container-main">
            <main role="main">
                @RenderBody()
                @Html.Partial("_Footer")
            </main>
        </div>
    }



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/RegisterJs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/loginnew")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gameProfile")
    @Scripts.Render("~/bundles/app")



    <script src="~/Scripts/RegisterJs/jquery.validate.min.js"></script>

    @*@Scripts.Render("~/bundles/popper")*@
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications, function(notification) { %>
            <li>
                <%= notification.content %>
            </li>
            <% }) %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length == 0)
                    return;

                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        var html = compiled({ notifications: notifications })
                        return html;
                    },
                    placement: "bottom"
                })
            });
        });
    </script>
</body>

</html>
