<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
 

</head>
<body>
    @Html.Partial("_NavBar")

    <div class="container-fluid body-content">
        @RenderBody()

    </div>
    @Html.Partial("_Footer")



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/underscore")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/typeahead")

    @*@Scripts.Render("~/bundles/popper")*@
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications, function(notification) { %>
            <li>
                <%= notification.content %>
            </li>
            <% }) %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length == 0)
                    return;

                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        var html = compiled({ notifications: notifications })
                        return html;
                    },
                    placement: "bottom"
                })
            });
        });
    </script>
</body>

</html>
