@{
    ViewBag.SearchResult = "";
}
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: hsl(225, 40%, 18%);">
    <a class="navbar-brand" href="#">
        <img src="~/Content/Images/logo_small.png" alt="LOGO" style="height:36px;">
        Gamer's Grid
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">

                @*@using (Html.BeginForm("Save", "Costumer"))
            {@Html.TextBox() }*@
                <input id="Search" class="typeahead form-control" type="text" onkeyup="" />

            </li>
            <li class="nav-item">
                @Html.ActionLink("Users", "Index", "User", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Games", "Index", "Game", null, new { @class = "nav-link" })
            </li>

            @if (Request.IsAuthenticated)
            {
                <li class="nav-item">
                    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" })
                </li>
            }
            else
            {
                <li class="nav-item">
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                </li>
            }

        </ul>

    </div>
</nav>


