@{
    ViewBag.SearchResult = "";
}
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: hsl(225, 40%, 18%);">
    <a class="navbar-brand" href="#">
        <img src="~/Content/Images/logo_small.png" alt="LOGO" style="height:36px;">
        Gamer's Grid
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        @{ 
            string url = "/Home/Search/";
        }
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <form action= @url >
                    <input id="Search" class="typeahead form-control searchBar" type="text" name="searchString" />
                    <input type="submit" style="display: none" />
                </form>
                    @*@Html.TextBox("search", null, new { @class = "typeahead form-control searchBar", id = "Search" })*@
            </li>
            <li class="nav-item">
                @Html.ActionLink("Users", "Index", "User", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Games", "Index", "Game", null, new { @class = "nav-link" })
            </li>

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()


                    <li class="nav-item">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a>
                    </li>
                }
            }
            else
            {

                <li class="nav-item">
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                </li>
            }

        </ul>

    </div>
</nav>
@section Scripts{
    <script>
        function SearchSmth() {
            document.getElementsByClassName('searchBar').keydown(function (event) {
                console.log('log1')
                var search = ('.searchBar').value;
                if (event.which == 13) {
                    window.location.href = window.document + '/home/search?searchString=' + search;
                    location.href = window.document.codeform.code.value + '.html';
                }
            })
        };
//        var url = document.getElementsByClassName("searchBar").value;
//console.log(url);
//console.log('Hello World!');
//function() {
//    console.log(10);
//}
    </script>

}




