@model GamersGridApp.Core.ViewModels.PlayersListViewModel
@{
    ViewBag.Title = "Players";
}

<div class="container text-center">
    <div class="center-header-players">
        <h1> TOP PLAYERS </h1>
    </div>
    <div class="row">

        
        @foreach (var user in Model.Users)
        {
            <div class="col-sm-4 col-md-3">
                <div class="thumb">
                    <a href="@(User.Identity.IsAuthenticated ? $"{Url.Action("ProfilePage", "User",new { userid = @user.ID })}" : "#")">

                        <img src="@((user.Avatar == "nofile.png" || String.IsNullOrEmpty(user.Avatar)) ? "/Content/Images/gamerdefault.jpg" :$"/Content/Images/UserPhotos/{@user.ID}/{@user.Avatar}")" class="img-responsive">
                        <div class="hover-opaque">
                            <div class="centered">@Model.UserFavoriteGame[user.ID]<br> @*234 <br>points*@</div>
                        </div>
                    </a>
                </div>
                <div class=" thumb-caption text-center ">
                    <figcaption><a href="@Url.Action("ProfilePage", "User",new { userid = @user.ID })">@user.NickName</a></figcaption>

                </div>
            </div>

        }



    </div>


</div>
@section scripts{

    @Scripts.Render("~/bundles/toastr")

   


}