@model GamersGridApp.ViewModels.UserFormEditViewModel


@{
    ViewBag.Title = "Edit";
}
<div class="container bootstrap snippet editcontainer">
    @using (Html.BeginForm("Save", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-10"><h1>@Model.NickName</h1></div>
        </div>
        @:<div class="row">
            @:<div class="col-sm-3">



                <div class="text-center">
                    <img src="@((Model.Avatar == "nofile.png" || @String.IsNullOrWhiteSpace(Model.Avatar)) ? "/Content/Images/icon1--02.jpg" : $"/Content/Images/UserPhotos/{Model.ID}/{Model.Avatar}")" class="avatar avatar-edit img-circle img-thumbnail" id="imagePreview">
                    <h6>Upload a different photo</h6>
                    <input type='file' name="file" id="imageUpload" class="text-center center-block file-upload">
                </div>
                <br>


            @:</div><!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Personal Info</a></li>
                    <li><a data-toggle="tab" href="#Dota">Dota 2</a></li>
                    <li><a data-toggle="tab" href="#Lol">League of Legends</a></li>
                    <li><a data-toggle="tab" href="#Overwatch">Overwatch</a></li>

                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name"><h4>Nickname</h4></label>
                                    @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name"><h4>First name</h4></label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="last_name"><h4>Last name</h4></label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email"><h4>Country</h4></label>
                                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email"><h4>City</h4></label>
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ID)


                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                </div>
                            </div>
                        </form>

                        <hr>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="Dota">

                        <h2>Dota Account Setup</h2>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Steam community ID</label>
                                    <input type="text" class="form-control" id="dotaId" value="@Model.SteamId">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button id="dotaSave" type="button" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                        </div>


                        </div><!--/tab-pane-->
                    <div class="tab-pane" id="Lol">


                        <h2>League Of Legends Account Setup</h2>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Region</label>
                                    @Html.DropDownListFor(m => m.RiotGamesRegions, new SelectList(Model.RiotGamesRegions), "--Select--", new { @class = "form-control ", id = "riotGamesRegion" })
                                </div>
                                <div class="col-xs-6">
                                    <label>Summoner Name</label>
                                    <input type="text" class="form-control" id="riotGamesName" value="@Model.LolUsername">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-12">
                                <br>
                                <button id="lolSave" type="button" class="btn btn-lg btn-default js-validate-user"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                        </div>
                    </div>


                        <div class="tab-pane" id="Overwatch">


                            <h2>Overwatch Account Setup</h2>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Region</label>
                                        @Html.DropDownListFor(m => m.BattleNetRegions, new SelectList(Model.BattleNetRegions), "--Select--", new { @class = "form-control ", id = "battlenetRegion" })
                                    </div>
                                    <div class="col-xs-6">
                                        <label>BattleTag</label>
                                        <input type="text" class="form-control" id="overwatchId" value="@Model.BattleTag">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button id="overwatchSave" type="button" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                </div>
                            </div>

                        </div>
                    </div><!--/tab-pane-->
            </div><!--/tab-content-->
        @:</div>
 <!--/col-9-->

    }
</div><!--/row-->


@section scripts{
    @Scripts.Render("~/Scripts/toastr.js")

    <script>

        $("#overwatchSave").on("click", function () {
            let userName = $("#overwatchId").val();
            let region = $("#battlenetRegion").val();
            let viewModel = { battleTag: userName, region: region };
            $.ajax({
                url: "/api/OverwatchAccounts",
                data: viewModel,
                method: "POST"
            }).done(function () {
                toastr.success("Account saved");
            }).fail(function (e) {
                toastr.error(e.message);
            });
        });

        $("#dotaSave").on("click", function () {
            let accountid = $("#dotaId").val();
            $.ajax({
                url: "/api/DotaAccounts?accountid=" + accountid,
                method: "post"
            }).done(function () {
                toastr.success("Account saved");
            }).fail(function (e) {
                toastr.error(e.message);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr("src", e.target.result);
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });

    </script>

    <script>
        let APIController = (function () {
            return {
                addAccount: function (account) {
                    //validation for account to be already claimed
                    $.post("/api/LOLAccounts", { userName: account.username, region: account.region })
                        .done(function (e) {
                            console.log(e);
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                },
            }
        })();
        let UIController = (function () {
            DOMStrings = {
                usernameInput: '#riotGamesName',
                regionInput: '#riotGamesRegion',
                getLOLAccount: '.js-validate-user',
            }
            return {
                GetDOMStrings: function () {
                    return DOMStrings
                },
                SelectAccData: function () {
                    const username = $(DOMStrings.usernameInput).val();
                    const userRegion = $(DOMStrings.regionInput).val();
                    console.log(username);
                    return {
                        username: username,
                        region: userRegion
                    }
                },
                ShowStats: function (stats) {
                    console.log('%c Show Stats UICntrl', 'color: #bada55 ');
                    $(DOMStrings.lolRank).textContent = stats[0].tier + " " + stats[0].rank;
                }
            }
        })();
        MainController = (function (UICntrl, APICntrl) {
            let SetupEventListeners = function () {
                let DOM = UICntrl.GetDOMStrings();
                $(DOM.getLOLAccount).click(GetLOLAcc)
                $(DOM.getLOLStats).click(GetLOLStats)
                $(DOM.getLOLKDA).click(GetLOLKDA)
            }
            let GetLOLKDA = function () {
                APICntrl.GetKDA();
            }
            let GetLOLAcc = function (event) {
                const account = UICntrl.SelectAccData();
                APICntrl.addAccount(account);
            }
            let GetLOLStats = function (event) {
                const stats = APICntrl.GetAccStats();
                console.log('%c Show Stats MainController', 'color: #bada55 ')
                UICntrl.ShowStats(stats);
            }
            return {
                init: function () {
                    console.log('Application has started');
                    SetupEventListeners();
                }
            }
        })(UIController, APIController);
        MainController.init();
    </script>


}