@model GamersGridApp.ViewModels.UserFormEditViewModel

@Styles.Render("~/Content/Edit")

<div class="container py-2" style="margin-top: 83px;">
    @using (Html.BeginForm("Save", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        @Html.AntiForgeryToken()

        <div class="row my-2">
            <!-- edit form column -->
            <div class="col-lg-4">
                <h2 class="text-center font-weight-light">Edit Profile</h2>
            </div>
            <div class="col-lg-8">
                @*<div class="alert alert-info alert-dismissable"> <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user. </div>*@
            </div>
            <div class="col-lg-8 order-lg-1 personal-info">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Nick name</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">First name</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Country</label>
                    <div class="col-lg-9">
                        <select id="Country" name="Country" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">City</label>
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                </div>
                @Html.HiddenFor(m => m.ID)

                @* <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
                        <div class="col-lg-9">
                            <select id="user_time_zone" class="form-control" size="0">
                                <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                <option value="Alaska">(GMT-09:00) Alaska</option>
                                <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                <option value="Arizona">(GMT-07:00) Arizona</option>
                                <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                            </select>
                        </div>
                    </div>*@
                @*<div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Username</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" value="janeuser" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Password</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="password" value="11111122333" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="password" value="11111122333" />
                        </div>
                    </div>*@
                <div class="form-group row">
                    <div class="col-lg-9 ml-auto text-right">
                        <button type="submit" class="btn btn-primary">Save Changes</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0 text-center">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' name="file" id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url('/Content/Images/UserPhotos/@Model.ID/@Model.Avatar');">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });

        $(document).ready(function () {
            let dropdownNations = $('#Country');
            const url = 'https://restcountries.eu/rest/v2/all';


            // Populate DropDown
            $.getJSON(url, function (data) {
                $.each(data, function (key, entry) {
                    dropdownNations.append($('<option></option>').attr('value', entry.name).text(entry.name));
                });
            });

        });

    </script>
}