@model GamersGridApp.ViewModels.UserFormEditViewModel


@{
    ViewBag.Title = "Edit";
}
<div class="container bootstrap snippet editcontainer">
    @using (Html.BeginForm("Save", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-10"><h1>@Model.NickName</h1></div>
            @*<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>*@
        </div>
        @:<div class="row">
            @:<div class="col-sm-3">
 <!--left col-->


                <div class="text-center">
                    <img src="@((Model.Avatar == "nofile.png" || @String.IsNullOrWhiteSpace(Model.Avatar)) ? "/Content/Images/icon1--02.jpg" : $"/Content/Images/UserPhotos/{Model.ID}/{Model.Avatar}")" class="avatar avatar-edit img-circle img-thumbnail" id="imagePreview">
                    @*<img src="@(String.IsNullOrEmpty(Model.Avatar) ? "/Content/Images/icon1--02.jpg" : $"/Content/Images/UserPhotos/{Model.ID}/{Model.Avatar}")" class="avatar img-circle img-thumbnail" id="imagePreview" alt="avatar">*@
                    <h6>Upload a different photo</h6>
                    <input type='file' name="file" id="imageUpload" class="text-center center-block file-upload">
                </div>
                <br>


                @*<div class="panel panel-default">
                        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                    </div>


                    <ul class="list-group">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                    </ul>*@

                @*<div class="panel panel-default">
                        <div class="panel-heading">Social Media</div>
                        <div class="panel-body">
                            <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                        </div>
                    </div>*@

            @:</div><!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Personal Info</a></li>
                    <li><a data-toggle="tab" href="#Dota">Dota 2</a></li>
                    <li><a data-toggle="tab" href="#Lol">League of Legends</a></li>
                    <li><a data-toggle="tab" href="#Overwatch">Overwatch</a></li>

                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name"><h4>Nickname</h4></label>
                                    @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name"><h4>First name</h4></label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="last_name"><h4>Last name</h4></label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                </div>
                            </div>

                            @*<div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="phone"><h4>Phone</h4></label>
                                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="mobile"><h4>Mobile</h4></label>
                                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="email"><h4>Email</h4></label>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                    </div>
                                </div>*@
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email"><h4>Country</h4></label>
                                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email"><h4>City</h4></label>
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ID)

                            @*<div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="password"><h4>Password</h4></label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="password2"><h4>Verify</h4></label>
                                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    @*<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>*@
                                </div>
                            </div>
                        </form>

                        <hr>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="Dota">

                        <h2>Dota Account Setup</h2>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Steam community ID</label>
                                    <input type="text" class="form-control" id="dotaId" value="@Model.SteamId">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button id="dotaSave" type="button" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                @*<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>*@
                            </div>
                        </div>


                            @*<form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="first_name"><h4>First name</h4></label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="last_name"><h4>Last name</h4></label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="phone"><h4>Phone</h4></label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="mobile"><h4>Mobile</h4></label>
                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Email</h4></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Location</h4></label>
                        <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password"><h4>Password</h4></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password2"><h4>Verify</h4></label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                    </div>
                </div>
            </form>*@

                        </div><!--/tab-pane-->
                        <div class="tab-pane" id="Lol">


                            <h2>Lol Account Setup</h2>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Summoner Name</label>
                                        <input type="text" class="form-control" id="riotGamesName" value="@Model.LolUsername">
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Region</label>
                                        @Html.DropDownListFor(m => m.RiotGamesRegions, new SelectList(Model.RiotGamesRegions), "--Select--", new { @class = "form-control ", id = "riotGamesRegion" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="lolSave" type="button" class="btn btn-default js-validate-user">Save</button>
                                div class="col-xs-12">
                                <br>
                                <button id="lolSave" type="button" class="btn btn-lg btn-default js-validate-user"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                @*<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>*@
                            </div>


                            @*<form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="first_name"><h4>First name</h4></label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="last_name"><h4>Last name</h4></label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="phone"><h4>Phone</h4></label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="mobile"><h4>Mobile</h4></label>
                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Email</h4></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Location</h4></label>
                        <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password"><h4>Password</h4></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password2"><h4>Verify</h4></label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                    </div>
                </div>
            </form>*@
                        </div>
                        <div class="tab-pane" id="Overwatch">


                            <h2>Overwatch Account Setup</h2>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>BattleTag</label>
                                        <input type="text" class="form-control" id="overwatchId" value="@Model.BattleTag">
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Region</label>
                                        @Html.DropDownListFor(m => m.BattleNetRegions, new SelectList(Model.BattleNetRegions), "--Select--", new { @class = "form-control ", id = "battlenetRegion" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button id="overwatchSave" type="button" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    @*<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>*@
                                </div>
                            </div>

                            @*<hr>
            <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="first_name"><h4>First name</h4></label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="last_name"><h4>Last name</h4></label>
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="phone"><h4>Phone</h4></label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="mobile"><h4>Mobile</h4></label>
                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Email</h4></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email"><h4>Location</h4></label>
                        <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password"><h4>Password</h4></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password2"><h4>Verify</h4></label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                    </div>
                </div>
            </form>*@
                        </div>
                    </div><!--/tab-pane-->
            </div><!--/tab-content-->
        @:</div>
 <!--/col-9-->

    }
</div><!--/row-->


@section scripts{
    @Scripts.Render("~/Scripts/toastr.js")

    <script>

        $("#overwatchSave").on("click", function () {
            let userName = $("#overwatchId").val();
            let region = $("#battlenetRegion").val();
            let viewModel = { battleTag: userName, region: region };
            $.ajax({
                url: "/api/OverwatchAccounts",
                data: viewModel,
                method: "POST"
            }).done(function () {
                toastr.success("Account saved");
            }).fail(function (e) {
                toastr.error(e.message);
            });
        });

        $("#dotaSave").on("click", function () {
            let accountid = $("#dotaId").val();
            $.ajax({
                url: "/api/DotaAccounts?accountid=" + accountid,
                method: "post"
            }).done(function () {
                toastr.success("Account saved");
            }).fail(function (e) {
                toastr.error(e.message);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr("src", e.target.result);
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });

    </script>

    <script>
        let APIController = (function () {
            return {
                addAccount: function (account) {
                    //validation for account to be already claimed
                    $.post("/api/LOLAccounts", { userName: account.username, region: account.region })
                        .done(function (e) {
                            console.log(e);
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                },
            }
        })();
        let UIController = (function () {
            DOMStrings = {
                usernameInput: '#riotGamesName',
                regionInput: '#riotGamesRegion',
                getLOLAccount: '.js-validate-user',
            }
            return {
                GetDOMStrings: function () {
                    return DOMStrings
                },
                SelectAccData: function () {
                    const username = $(DOMStrings.usernameInput).val();
                    const userRegion = $(DOMStrings.regionInput).val();
                    console.log(username);
                    return {
                        username: username,
                        region: userRegion
                    }
                },
                ShowStats: function (stats) {
                    console.log('%c Show Stats UICntrl', 'color: #bada55 ');
                    $(DOMStrings.lolRank).textContent = stats[0].tier + " " + stats[0].rank;
                }
            }
        })();
        MainController = (function (UICntrl, APICntrl) {
            let SetupEventListeners = function () {
                let DOM = UICntrl.GetDOMStrings();
                $(DOM.getLOLAccount).click(GetLOLAcc)
                $(DOM.getLOLStats).click(GetLOLStats)
                $(DOM.getLOLKDA).click(GetLOLKDA)
            }
            let GetLOLKDA = function () {
                APICntrl.GetKDA();
            }
            let GetLOLAcc = function (event) {
                const account = UICntrl.SelectAccData();
                APICntrl.addAccount(account);
            }
            let GetLOLStats = function (event) {
                const stats = APICntrl.GetAccStats();
                console.log('%c Show Stats MainController', 'color: #bada55 ')
                UICntrl.ShowStats(stats);
            }
            return {
                init: function () {
                    console.log('Application has started');
                    SetupEventListeners();
                }
            }
        })(UIController, APIController);
        MainController.init();
    </script>


}