@model GamersGridApp.Core.ViewModels.UserProfilePageViewModel

@{
    ViewBag.Title = "ProfilePage";

}
@{
    string followText;
    if (Model.IsFollowing)
    {
        followText = "Unfollow";
    }
    else
    {
        followText = "Follow";
    }

}

<div class="container profile-container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">

            <!-- User profile -->
            @Html.HiddenFor(m => m.User.ID, new { id = "profileId" })
            @Html.HiddenFor(m => m.LoggedUserId, new { id = "loggedUserId" })
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                    </div>
                    <div class="profile__avatar col-xs-12 col-sm-5">
                        <img src="@((Model.User.Avatar == "nofile.png" || @String.IsNullOrWhiteSpace(Model.User.Avatar)) ? "/Content/Images/gamerdefault.jpg" : $"/Content/Images/UserPhotos/{Model.User.ID}/{Model.User.Avatar}")">
                    </div>
                    <div class="profile__header col-xs-12 col-sm-7">
                        <h2>@Html.DisplayFor(u => u.User.FirstName) @Html.DisplayFor(u => u.User.LastName)</h2>
                        <h3><small>@Html.DisplayFor(u => u.User.NickName)</small></h3>
                        <h4>Favorite game:</h4>
                        <h4><strong>@Html.DisplayFor(u => u.FavouriteGame.Title)</strong></h4>
                        <h4>My quote:</h4>
                        <p class="text-muted">
                            @if (String.IsNullOrWhiteSpace(Model.User.Description))
                            {
                                <p style="color:#c4c4c4"><i>No quote yet</i></p>

                            }
                            else
                            {
                                <h4><strong>@Model.User.Description</strong></h4>
                            }

                            </>
                        </div>
                    </div>
                </div>
                @if (Model.GamesStats != null)
                {
                    foreach (var gameStats in Model.GamesStats)
                    {
                        {
                            int sum = gameStats.Value.Wins + gameStats.Value.Losses;
                            string width = ((double)gameStats.Value.Wins / (double)sum * 100).ToString("0,00") + "%";
                            string tierIcon = gameStats.Key == "League Of Legends" ? "/Content/Images/Games/LOLIcons/tier-icons-base/" + Model.GetLOLRank() :
                                gameStats.Key == "Overwatch" ? "/Content/Images/Games/OverwatchIcons/" + Model.GetOverWatchRank() :
                                "/Content/Images/Games/DotaIcons/" + Model.GetDota2Rank();

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title"><strong>@gameStats.Key</strong><img src=@tierIcon id="league-rank-icon" class="img-responsive"></h2>
                                </div>
                                <div class="panel-body">
                                    <table class="table profile__table">
                                        <tbody>
                                            <tr>
                                                <th><strong>Rank</strong></th>
                                                <td>@gameStats.Value.Rank</td>
                                            </tr>
                                            <tr>
                                                <th><strong>Wins</strong></th>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="@gameStats.Value.Wins" aria-valuemin="0" aria-valuemax="@sum" style="width: @width;">
                                                            @gameStats.Value.Wins
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><strong>KDA</strong></th>
                                                <td>@gameStats.Value.KDA</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    }
                }
                <!-- Game 1 -->
                <!-- <div>Static Fields</div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>DOTA</strong></h2>
                    </div>
                    <div class="panel-body">
                        <table class="table profile__table">
                            <tbody>
                                <tr>
                                    <th><strong>Level</strong></th>
                                    <td>456</td>
                                </tr>
                                <tr>
                                    <th><strong>Stat 1</strong></th>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                60
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><strong>Stat 2</strong></th>
                                    <td>234</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                       <div class="panel panel-default">
                           <div class="panel-heading">
                               <h2 class="panel-title"><strong>Overwatch</strong></h2>
                           </div>
                           <div class="panel-body">
                               <table class="table profile__table">
                                   <tbody>
                                       <tr>
                                           <th><strong>Level</strong></th>
                                           <td>456</td>
                                       </tr>
                                       <tr>
                                           <th><strong>Stat 1</strong></th>
                                           <td>
                                               <div class="progress">
                                                   <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                       60
                                                   </div>
                                               </div>
                                           </td>
                                       </tr>
                                       <tr>
                                           <th><strong>Stat 2</strong></th>
                                           <td>234</td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                       -->
            </div>
            <div class="col-xs-12 col-sm-3">

                @{
                    if (!Model.IsCurrent)
                    {
                        <!-- Contact user -->
                        <p>
                            <a id="followbtn" href="#" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">@followText</a>
                        </p>
                        <p>
                            <button id="messageBtn" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form" data-redirect-url="@Url.Action("ChatWith","Message", new { currentUserId = Model.LoggedUserId , requestedUserId= Model.User.ID})">
                                Message me
                            </button>
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.ActionLink("Customize", "Customize", "User", null, new { @class = "profile__contact-btn btn btn-lg btn-block btn-info" })

                        </p>

                    }

                }


                <div class="profile_follow">
                    <div class="profile_followers">
                        <p>FOLLOWERS</p>
                        <h3 id="followersCount"><strong>@Model.FollowsCount</strong></h3>

                    </div>
                    <div class="profile_followees">
                        <p>FOLLOWING</p>
                        <h3>@Model.FollowingCount</h3>
                    </div>
                </div>


                <hr class="profile__contact-hr">

                <!-- Contact info -->
                <div class="profile__contact-info">
                    <div class="profile__contact-info-item">

                        <div class="profile__contact-info-body">
                            <h5 class="profile__contact-info-heading">Country</h5>
                            @Html.DisplayFor(u => u.User.Country)
                        </div>
                    </div>
                    <div class="profile__contact-info-item">
                        <div class="profile__contact-info-body">
                            <h5 class="profile__contact-info-heading">City</h5>
                            @Html.DisplayFor(u => u.User.City)
                        </div>
                    </div>
                    @*<div class="profile__contact-info-item">
                            <div class="profile__contact-info-icon">
                                <i class="fa fa-envelope-square"></i>
                            </div>
                            <div class="profile__contact-info-body">
                                <h5 class="profile__contact-info-heading">E-mail address</h5>
                                <a href="mailto:admin@domain.com">admin@domain.com</a>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>

    @section scripts{


        <script>

            $(document).ready(function () {
                FollowsController.enableFollows("#followbtn");
                FollowsController.enableMessaging("#messageBtn");
            });
        </script>
    }