@model GamersGridApp.ViewModels.UserProfilePageViewModel

@{
    ViewBag.Title = "ProfilePage";
}
@{
    string followText;
    if (Model.IsFollowing)
    {
        followText = "Unfollow";
    }
    else
    {
        followText = "Follow";
    }

}

    <div class="container profile-container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">

                <!-- User profile -->
                @Html.HiddenFor(m => m.User.ID, new { id = "profileId" })
                @Html.HiddenFor(m => m.LoggedUserId, new { id = "loggedUserId" })
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="row">

                        </div>
                        <div class="profile__avatar col-xs-12 col-sm-5">
                            <img src="@(String.IsNullOrEmpty(Model.User.Avatar) ? "/Content/Images/gamerdefault.jpg" : $"/Content/Images/UserPhotos/{Model.User.ID}/{Model.User.Avatar}")" alt="...">
                        </div>
                        <div class="profile__header col-xs-12 col-sm-7">
                            <h2>@Html.DisplayFor(u => u.User.FirstName) @Html.DisplayFor(u => u.User.LastName)</h2>
                            <h3><small>@Html.DisplayFor(u => u.User.NickName)</small></h3>
                            <h4>Favorite game:</h4>
                            <h4><strong>@Html.DisplayFor(u => u.Game.Title)</strong></h4>
                            <h4>My quote:</h4>
                            <p class="text-muted">
                                I don't need to "get a life".
                                I'm a gamer. I have lots of lives.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Game 1 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>FORTNITE</strong></h2>
                    </div>
                    <div class="panel-body">
                        <table class="table profile__table">
                            <tbody>
                                <tr>
                                    <th><strong>Level</strong></th>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th><strong>Stat 1</strong></th>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                                40
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><strong>Stat 2</strong></th>
                                    <td>345</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Game 2 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>DOTA</strong></h2>
                    </div>
                    <div class="panel-body">
                        <table class="table profile__table">
                            <tbody>
                                <tr>
                                    <th><strong>Level</strong></th>
                                    <td>456</td>
                                </tr>
                                <tr>
                                    <th><strong>Stat 1</strong></th>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                60
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><strong>Stat 2</strong></th>
                                    <td>234</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Game 3 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title"><strong>Overwatch</strong></h2>
                    </div>
                    <div class="panel-body">
                        <table class="table profile__table">
                            <tbody>
                                <tr>
                                    <th><strong>Level</strong></th>
                                    <td>456</td>
                                </tr>
                                <tr>
                                    <th><strong>Stat 1</strong></th>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                60
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><strong>Stat 2</strong></th>
                                    <td>234</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">

                @{
                    if (Model.User.ID != Model.LoggedUserId)
                    {
                        <!-- Contact user -->
                        <p>
                            <a id="@followText" href="#" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">
                                @followText
                            </a>
                        </p>
                        <p>
                            <a id="messageBtn" href="#" class="profile__contact-btn btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#profile__contact-form">
                                Message me
                            </a>
                        </p>
                    }
                    else
                    {
            <p>
                @Html.ActionLink("Customize", "EditAvraam2", "User", null, new { @class = "profile__contact-btn btn btn-lg btn-block btn-info" })

            </p>

                    }

                }


                <div class="profile_follow">
                    <div class="profile_followers">
                        <p>FOLLOWERS</p>
                        <h3><strong id="followersCount">@Model.FollowsCount</strong></h3>

                    </div>
                    <div class="profile_followees">
                        <p>FOLLOWEES</p>
                        <h3>@Model.FollowingCount</h3>
                    </div>
                </div>


                <hr class="profile__contact-hr">

                <!-- Contact info -->
                <div class="profile__contact-info">
                    <div class="profile__contact-info-item">

                        <div class="profile__contact-info-body">
                            <h5 class="profile__contact-info-heading">Country</h5>
                            @Html.DisplayFor(u => u.User.Country)
                        </div>
                    </div>
                    <div class="profile__contact-info-item">
                        <div class="profile__contact-info-body">
                            <h5 class="profile__contact-info-heading">City</h5>
                            @Html.DisplayFor(u => u.User.City)
                        </div>
                    </div>
                    @*<div class="profile__contact-info-item">
                <div class="profile__contact-info-icon">
                    <i class="fa fa-envelope-square"></i>
                </div>
                <div class="profile__contact-info-body">
                    <h5 class="profile__contact-info-heading">E-mail address</h5>
                    <a href="mailto:admin@domain.com">admin@domain.com</a>
                </div>
            </div>*@
                </div>

            </div>
        </div>
    </div>

@section scripts{

    @Scripts.Render("~/Scripts/toastr.js")

    <script>

        $(document).ready(function () {


            $(document).on("click", "#Follow", function (e) {
                var followee = $("#profileId").val();
                var follower = $("#loggedUserId").val();
                var button = $(e.target);

                $.post("/api/follows/", { followeeId: followee, followerId: follower })
                    .done(function () {
                        button.text("UnFollow");
                        button.attr("id", "Unfollow");
                        toastr.success("You are now following!");




                        $.ajax({
                            type: "GET",
                            url: "/api/follows/" + followee,
                            data: "{}",
                            success: function (followerscount) {
                                document.getElementById("followersCount").innerHTML = followerscount;
                            }
                        });

                    })
                    .fail(function () {
                        toastr.error("Something went wrong");
                    });


            });

            $(document).on("click", "#Unfollow", function (e) {
                var followee = $("#profileId").val();
                var follower = $("#loggedUserId").val();
                var button = $(e.target);

                var dataModel = { followeeId: followee, followerId: follower };
                $.ajax({
                    url: "/api/follows/",
                    method: "DELETE",
                    data: dataModel
                })
                    .done(function () {
                        button.text("Follow");
                        button.attr("id", "Follow");

                        toastr.success("You are now no longer following");

                        $.ajax({
                            type: "GET",
                            url: "/api/follows/" + followee,
                            data: "{}",
                            success: function (followerscount) {
                                document.getElementById("followersCount").innerHTML = followerscount;
                            }
                        });

                    }).fail(function () {
                        toastr.error("Something went wrong");
                    });
            });

            $(document).on("click", "#messageBtn", function () {
                var followee = $("#profileId").val();
                var follower = $("#loggedUserId").val();

                $.ajax({
                    url: "/api/messages",
                    method: "GET",
                    data: { followeeId: followee, followerId: follower },
                    contentType: "application/json"
                })
                    .done(function () {
                        window.location.href = "@Url.Action("ChatWith","Message", new { id = Model.LoggedUserId, userId = Model.User.ID})";

                        //window.location.href = "/Message/ChatWith?loggeduser=" + follower + "?user=" + followee;
                    })
                    .fail(function () {
                        toastr.error("No mutual follow relation found");
                    });




            });


        });
    </script>


}