@Styles.Render("~/Content/style.css")

@Styles.Render("~/Content/toastr.css")
@model GamersGridApp.ViewModels.UserProfilePageViewModel

@{
    ViewBag.Title = "ProfilePage";
}
@{
    string followText;
    if (Model.IsFollowing)
    {
        followText = "Unfollow";
    }
    else
    {
        followText = "Follow";
    }

}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid rounded profilePhoto" src="~/Content/Images/gamer.jfif" alt="">
        </div>
        <button class="btn btn-primary" onclick="window.location.href = '/User/Edit?id=@Model.LoggedUserId';">Update Your Profile</button>
        <div class="col-md-6 topSection">
            @Html.HiddenFor(m => m.User.ID, new { id = "profileId" })
            @Html.HiddenFor(m => m.LoggedUserId, new { id = "loggedUserId" })
            <br>
            <h6>Name: <strong>@Html.DisplayFor(u => u.User.NickName)</strong></h6>
            <h6>NickName: <strong>@Html.DisplayFor(u => u.User.NickName)</strong></h6>
            <h6>Current Focusing games:<strong> League of Legends | Dota 2</strong></h6>
            <div>
                <h2>
                    Message of the day: "Woohoo"
                </h2>
            </div>

        </div>
        <div class="col-md-3">

            @if (!Model.IsCurrent)
            {
                <button class="btn btn-primary aButton" id="@followText" role="button">@followText</button>
                @*<button class="btn btn-primary aButton" id="messageBtn" role="button">Message</button>*@
                <button class="btn btn-primary aButton" id="messageBtn" role="button">Message</button>

            }


        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Biography</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore qui vitae adipisci, ducimus
                voluptate eum quae aut enim maxime dolorem voluptatem soluta aperiam accusamus quam at nemo
                exercitationem architecto tenetur!
            </p>
        </div>
        <div class="col-sm-6">
            <div class="grid">
                <div class="">
                    <p>Followers <br> @Model.FollowsCount</p>
                    <img class="img-fluid rounded socialIcon" src="~/Content/Images/facebook.svg" alt=""
                         srcset="">

                </div>
                <div class="">
                    <p>Following <br>@Model.FollowingCount</p>
                    <img class="img-fluid rounded socialIcon" src="~/Content/Images/Instagram.svg" alt=""
                         srcset="">

                </div>
                <div class="">
                    <p>Clans <br> 2</p>
                    <img class="img-fluid rounded socialIcon" src="~/Content/Images/twitter.svg" alt=""
                         srcset="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 center-item">

            <h3>Dota 2</h3>
            <div class="grid">
                <div class="">
                    <p>Wins <br> 1562</p>
                    <p>Role <br> Support</p>
                </div>
                <div class="">
                    <p>KDA <br> 3.21</p>
                    <p>Top 5 Heroes <br> Morgana <br> Karma <br> Thresh</p>
                </div>
                <div class="">
                    <p>Rank <br> Diamond IV</p>
                    <p>Time Played <br> 153h</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 center-item">

            <h3>League of Legends</h3>
            <div class="grid">
                <div class="">
                    <p>Wins <br> 1562</p>
                    <p>Role <br> Support</p>
                </div>
                <div class="">
                    <p>KDA <br> 3.21</p>
                    <p>Top 5 Heroes <br> Morgana <br> Karma <br> Thresh</p>
                </div>
                <div class="">
                    <p>Rank <br> Diamond IV</p>
                    <p>Time Played <br> 153h</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>My Setup</h3>
    </div>
    <div class="row">

        <div class="row grid">

            <div class="col-md-4 ">
                <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/setup.jpg" alt="" srcset="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/setup.jpg" alt="" srcset="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/keyboard.jpg" alt="" srcset="">
            </div>

        </div>

    </div>
    <div class="row">
        <h3>Videos</h3>
    </div>
    <div class="row">

        <div class="row grid">
            <div class="col-md-4 ">
                <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/setup.jpg" alt="" srcset="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/setup.jpg" alt="" srcset="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded galleryPhotos" src="~/Content/Images/keyboard.jpg" alt="" srcset="">
            </div>
        </div>

    </div>
</div>

@section scripts{

    @Scripts.Render("~/Scripts/toastr.js")

    <script>

        $(document).ready(function () {


            $(document).on("click", "#Follow", function (e) {
                var followee = $("#profileId").val();
                var follower = $("#loggedUserId").val();
                var button = $(e.target);

                $.post("/api/follows/", { followeeId: followee, followerId: follower })
                    .done(function () {
                        button.text("UnFollow");
                        button.attr("id", "Unfollow");
                        toastr.success("You are now following!");
                    })
                    .fail(function () {
                        toastr.error("Something went wrong");
                    });

            });

            $(document).on("click", "#Unfollow", function (e) {
                var followee = $("#profileId").val();
                var follower = $("#loggedUserId").val();
                var button = $(e.target);

                var dataModel = { followeeId: followee, followerId: follower };
                $.ajax({
                    url: "/api/follows/",
                    method: "DELETE",
                    data: dataModel
                })
                    .done(function () {
                        button.text("Follow");
                        button.attr("id", "Follow");

                        toastr.success("You are now no longer following");

                    }).fail(function () {
                        toastr.error("Something went wrong");
                    });
            });

            $(document).on("click", "#messageBtn", function () {
                var followee = $("#profileId").val();
                var follower = $("#loggedUserId").val();

                $.ajax({
                    url: "/api/messages",
                    method: "GET",
                    data: { followeeId: followee, followerId: follower },
                    contentType: "application/json"
                })
                    .done(function () {
                        window.location.href = "@Url.Action("ChatWith","Message", new { id = Model.LoggedUserId, userId = Model.User.ID})";

                        //window.location.href = "/Message/ChatWith?loggeduser=" + follower + "?user=" + followee;
                    })
                    .fail(function () {
                        toastr.error("No mutual follow relation found");
                    });




            });


        });
    </script>


}