@model GamersGridApp.ViewModels.UserFormEditViewModel

<h2>Edit Your Profile</h2>

@using (Html.BeginForm("SaveEdit", "User"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Please fix the following Errors!!")
    <div class="form-group">
        @Html.LabelFor(v => v.User.FirstName)
        @Html.TextBoxFor(v => v.User.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.User.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(v => v.User.LastName)
        @Html.TextBoxFor(v => v.User.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.User.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.User.Country)
        @Html.TextBoxFor(v => v.User.Country, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.User.Country)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.User.City)
        @Html.TextBoxFor(v => v.User.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.User.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.User.Street_Name)
        @Html.TextBoxFor(v => v.User.Street_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.User.Street_Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.User.Street_Number)
        @Html.TextBoxFor(v => v.User.Street_Number, new { @class = "form-control" })
        @Html.ValidationMessageFor(v => v.User.Street_Number)
    </div>
    @Html.HiddenFor(v => v.User.ID)

    <button type="submit" class="btn btn-secondary">Save</button>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
