@model ICollection<GamersGridApp.Models.MessageChat>

<div class="inbox_chat">
    @if (Model != null)
    {
        foreach (var messagechat in Model)
        {
            <div class="chat_list chatLeft" id="@messagechat.ID" @*onclick="ShowChat(@messagechat.ID,@Model.User.UserID)*@>
                <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">

                        <h5>@messagechat.Name</h5>
                        @*@if (messagechat.ChatHistory.Count != 0)
                            {
                            <h5>@messagechat.ChatHistory.Last().User.NickName <span class="chat_date">Dec 25</span></h5>
                            <p>
                                @messagechat.ChatHistory.OrderByDescending(m => m.Time).Last().MessageString
                            </p>
                            }*@
                    </div>
                </div>
            </div>
        }
    }
</div>
