@model GamersGridApp.Core.ViewModels.MessageBoardViewModel
@Styles.Render("~/Content/SiteCss")
@Styles.Render("~/Content/Message")

@{
    ViewBag.Title = "MessageBoard";
}


<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search" id="SearchUserToMessage">
                            <span class="input-group-addon customclassmsg">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <ul class="inbox_chat" style="list-style-type:none;">
                    @if (Model.MessageChats != null)
                    {
                        foreach (var messagechat in Model.MessageChats)
                        {
                            <li class="chat_list chatLeft selected" id="@messagechat.ID">
                                @if (messagechat.ChatHistory.Count != 0)
                                {
                                    <div class="chat_people">
                                        <div class="chat_img"> <img src="@(String.IsNullOrEmpty(messagechat.ChatHistory.LastOrDefault().User.Avatar) ? "/Content/Images/gamerdefault.jpg" : $"/Content/Images/UserPhotos/{messagechat.ChatHistory.LastOrDefault().User.ID}/{messagechat.ChatHistory.LastOrDefault().User.Avatar}")" alt="sunil"> </div>
                                        <div class="chat_ib">

                                            <h5>@messagechat.Name</h5>
                                            @if (messagechat.ChatHistory.Count != 0)
                                            {
                                                <span class="chat_date">@messagechat.ChatHistory.LastOrDefault().Time</span>
                                                <p>
                                                    @messagechat.ChatHistory.Last().MessageString
                                                </p>
                                            }
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="chat_people">
                                        <div class="chat_img"> <img src="@(String.IsNullOrEmpty(messagechat.MessageChatUsers.LastOrDefault().User.Avatar) ? "/Content/Images/gamerdefault.jpg" : $"/Content/Images/UserPhotos/{messagechat.ChatHistory.LastOrDefault().User.ID}/{messagechat.ChatHistory.LastOrDefault().User.Avatar}")" alt="sunil"> </div>
                                        <div class="chat_ib">

                                            <h5>@messagechat.Name</h5>
                                            @if (messagechat.ChatHistory.Count != 0)
                                            {
                                                <span class="chat_date">@messagechat.ChatHistory.LastOrDefault().Time</span>
                                                <p>
                                                    @messagechat.ChatHistory.Last().MessageString
                                                </p>
                                            }
                                        </div>
                                    </div>

                                }

                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="mesgs" id="chatbox">
                <div class="msg_history" id="messageboard">
                    @if (Model.MessageChats.Count != 0)
                    {
                        if (Model.MessageChats.LastOrDefault(c => c.ID == Model.CurrentChatID).ChatHistory.Count != 0)
                        {
                            foreach (var message in Model.MessageChats.LastOrDefault(c => c.ID == Model.CurrentChatID).ChatHistory.OrderBy(c => c.Time))
                            {

                                if (Model.CurrentUserNickName != message.User.NickName)
                                {
                                    <div class="incoming_msg">
                                        <div class="incoming_msg_img"> <img src="@(String.IsNullOrEmpty(message.User.Avatar) ? "/Content/Images/gamerdefault.jpg" : $"/Content/Images/UserPhotos/{message.User.ID}/{message.User.Avatar}")" alt="sunil"> </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>
                                                    @message.MessageString
                                                </p>
                                                <span class="time_date"> @message.Time</span>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p>
                                                @message.MessageString
                                            </p>
                                            <span class="time_date">  @message.Time</span>
                                        </div>
                                    </div>
                                }

                            }

                        }
                    }
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        @Html.TextBox("NewText", "", new { @id = "txtMessage", @class = "write_msg", @autocomplete = "off" })
                        <button class="msg_send_btn" type="button" data-chat-id="@Model.CurrentChatID" id="btnSendMessage"><i class="far fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/Message")

}







